body {
    background-color: black;
    overflow: hidden;
}

span.imgcode, span.codedescription, span.photocredit {
    color: white;
    display: block;
}

.onehundred {
    background-image: url("../img/100.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 302px;
    width: 640px;
    background-repeat: no-repeat;
}

.onehundredcode {
    position: relative;
    top: 750px;
}

.onehundredone {
    background-image: url("../img/101.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 628px;
    width: 446px;
    background-repeat: no-repeat;
}

.onehundredonecode {
    position: relative;
    top: 900px;
}

.twohundred {
    background-image: url("../img/200.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 441px;
    width: 660px;
    background-repeat: no-repeat;
}

.twohundredcode {
    position: relative;
    top: 800px;
}

.twohundredone {
    background-image: url("../img/201.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 283px;
    width: 360px;
    background-repeat: no-repeat;
}

.twohundredonecode {
    position: relative;
    top: 700px;
}

.twohundredtwo {
    background-image: url("../img/202.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 350px;
    width: 552px;
    background-repeat: no-repeat;
}

.twohundredtwocode {
    position: relative;
    top: 750px;
}

.twohundredfour {
    background-image: url("../img/204.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 740px;
    width: 500px;
    background-repeat: no-repeat;
}

.twohundredfourcode {
    position: relative;
    top: 950px;
}

.twohundredsix {
    background-image: url("../img/206.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 427px;
    width: 424px;
    background-repeat: no-repeat;
}

.twohundredsixcode {
    position: relative;
    top: 800px;
}

.twohundredseven {
    background-image: url("../img/207.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 736px;
    width: 736px;
    background-repeat: no-repeat;
}

.twohundredsevencode {
    position: relative;
    top: 950px;
}

.threehundred {
    background-image: url("../img/300.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 401px;
    width: 640px;
    background-repeat: no-repeat;
}

.threehundredcode {
    position: relative;
    top: 800px;
}

.threehundredone {
    background-image: url("../img/301.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 177px;
    width: 236px;
    background-repeat: no-repeat;
}

.threehundredonecode {
    position: relative;
    top: 650px;
}

.threehundredtwo {
    background-image: url("../img/302.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 480px;
    width: 630px;
    background-repeat: no-repeat;
}

.threehundredtwocode {
    position: relative;
    top: 800px;
}

.threehundredthree {
    background-image: url("../img/303.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 680px;
    width: 1024px;
    background-repeat: no-repeat;
}

.threehundredthreecode {
    position: relative;
    top: 900px;
}

.threehundredfour {
    background-image: url("../img/304.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 426px;
    width: 640px;
    background-repeat: no-repeat;
}

.threehundredfourcode {
    position: relative;
    top: 800px;
}

.threehundredfive {
    background-image: url("../img/305.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 361px;
    width: 450px;
    background-repeat: no-repeat;
}

.threehundredfivecode {
    position: relative;
    top: 750px;
}

.threehundredseven {
    background-image: url("../img/307.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 447px;
    width: 736px;
    background-repeat: no-repeat;
}

.threehundredsevencode {
    position: relative;
    top: 800px;
}

.fourhundred {
    background-image: url("../img/400.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 533px;
    width: 800px;
    background-repeat: no-repeat;
}

.fourhundredcode {
    position: relative;
    top: 850px;
}

.fourhundredone {
    background-image: url("../img/401.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 760px;
    width: 720px;
    background-repeat: no-repeat;
}

.fourhundredonecode {
    position: relative;
    top: 950px;
}

.fourhundredtwo {
    background-image: url("../img/402.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 500px;
    width: 500px;
    background-repeat: no-repeat;
}

.fourhundredtwocode {
    position: relative;
    top: 820px;
}

.fourhundredthree {
    background-image: url("../img/403.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 446px;
    width: 375px;
    background-repeat: no-repeat;
}

.fourhundredthreecode {
    position: relative;
    top: 800px;
}

.fourhundredfour {
    background-image: url("../img/404.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 853px;
    width: 1280px;
    background-repeat: no-repeat;
}

.fourhundredfourcode {
    position: relative;
    top: 1000px;
}

.fourhundredfive {
    background-image: url("../img/405.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 431px;
    width: 640px;
    background-repeat: no-repeat;
}

.fourhundredfivecode {
    position: relative;
    top: 800px;
}

.fourhundredsix {
    background-image: url("../img/406.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 388px;
    width: 550px;
    background-repeat: no-repeat;
}

.fourhundredsixcode {
    position: relative;
    top: 750px;
}

.fourhundredeight {
    background-image: url("../img/408.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 336px;
    width: 448px;
    background-repeat: no-repeat;
}

.fourhundredeightcode {
    position: relative;
    top: 750px;
}

.fourhundrednine {
    background-image: url("../img/409.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 517px;
    width: 640px;
    background-repeat: no-repeat;
}

.fourhundredninecode {
    position: relative;
    top: 850px;
}

.fourhundredten {
    background-image: url("../img/410.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 466px;
    width: 640px;
    background-repeat: no-repeat;
}

.fourhundredtencode {
    position: relative;
    top: 800px;
}

.fourhundredeleven {
    background-image: url("../img/411.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 760px;
    width: 720px;
    background-repeat: no-repeat;
}

.fourhundredelevencode {
    position: relative;
    top: 950px;
}

.fourhundredtwelve {
    background-image: url("../img/412.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 480px;
    width: 600px;
    background-repeat: no-repeat;
}

.fourhundredtwelvecode {
    position: relative;
    top: 800px;
}

.fourhundredthirteen {
    background-image: url("../img/413.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 401px;
    width: 602px;
    background-repeat: no-repeat;
}

.fourhundredthirteencode {
    position: relative;
    top: 800px;
}

.fourhundredfourteen {
    background-image: url("../img/414.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 624px;
    width: 600px;
    background-repeat: no-repeat;
}

.fourhundredfourteencode {
    position: relative;
    top: 900px;
}

.fourhundredfifteen {
    background-image: url("../img/415.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 736px;
    width: 736px;
    background-repeat: no-repeat;
}

.fourhundredfifteencode {
    position: relative;
    top: 950px;
}

.fourhundredsixteen {
    background-image: url("../img/416.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 480px;
    width: 531px;
    background-repeat: no-repeat;
}

.fourhundredsixteencode {
    position: relative;
    top: 800px;
}

.fourhundredseventeen {
    background-image: url("../img/417.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 220px;
    width: 370px;
    background-repeat: no-repeat;
}

.fourhundredseventeencode {
    position: relative;
    top: 700px;
}

.fourhundredeighteen {
    background-image: url("../img/418.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 381px;
    width: 555px;
    background-repeat: no-repeat;
}

.fourhundredeighteencode {
    position: relative;
    top: 750px;
}

.fourhundredtwenty {
    background-image: url("../img/420.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 381px;
    width: 555px;
    background-repeat: no-repeat;
}

.fourhundredtwentycode {
    position: relative;
    top: 730px;
}

.fourhundredtwentyone {
    background-image: url("../img/421.jpg");
    background-position: calc(50% - 100px) calc(20% + 50px);
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 800px;
    width: 1000px;
    background-repeat: no-repeat;
}

.fourhundredtwentyonecode {
    position: relative;
    top: 980px;
}

.fourhundredtwentytwo {
    background-image: url("../img/422.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 800px;
    width: 600px;
    background-repeat: no-repeat;
}

.fourhundredtwentytwocode {
    position: relative;
    top: 970px;
}


.fourhundredtwentythree {
    background-image: url("../img/423.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 612px;
    width: 612px;
    background-repeat: no-repeat;
}

.fourhundredtwentythreecode {
    position: relative;
    top: 900px;
}

.fourhundredtwentyfour {
    background-image: url("../img/424.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 180px;
    width: 320px;
    background-repeat: no-repeat;
}

.fourhundredtwentyfourcode {
    position: relative;
    top: 650px;
}

.fourhundredtwentyfive {
    background-image: url("../img/425.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 595px;
    width: 800px;
    background-repeat: no-repeat;
}

.fourhundredtwentyfivecode {
    position: relative;
    top: 880px;
}

.fourhundredtwentysix {
    background-image: url("../img/426.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 474px;
    width: 651px;
    background-repeat: no-repeat;
}

.fourhundredtwentysixcode {
    position: relative;
    top: 800px;
}

.fourhundredtwentynine {
    background-image: url("../img/429.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 480px;
    width: 640px;
    background-repeat: no-repeat;
}

.fourhundredtwentyninecode {
    position: relative;
    top: 800px;
}

.fourhundredthirtyone {
    background-image: url("../img/431.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 354px;
    width: 236px;
    background-repeat: no-repeat;
}

.fourhundredthirtyonecode {
    position: relative;
    top: 750px;
}

.fourhundredfourtyfour {
    background-image: url("../img/444.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 552px;
    width: 812px;
    background-repeat: no-repeat;
}

.fourhundredfourtyfourcode {
    position: relative;
    top: 850px;
}

.fourhundredfifty {
    background-image: url("../img/450.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 479px;
    width: 720px;
    background-repeat: no-repeat;
}

.fourhundredfiftycode {
    position: relative;
    top: 800px;
}

.fourhundredfiftyone {
    background-image: url("../img/451.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 478px;
    width: 736px;
    background-repeat: no-repeat;
}

.fourhundredfiftyonecode {
    position: relative;
    top: 800px;
}

.fivehundred {
    background-image: url("../img/500.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 497px;
    width: 598px;
    background-repeat: no-repeat;
}

.fivehundredcode {
    position: relative;
    top: 800px;
}

.fivehundredtwo {
    background-image: url("../img/502.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 720px;
    width: 477px;
    background-repeat: no-repeat;
}

.fivehundredtwocode {
    position: relative;
    top: 950px;
}

.fivehundredthree {
    background-image: url("../img/503.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 387px;
    width: 580px;
    background-repeat: no-repeat;
}

.fivehundredthreecode {
    position: relative;
    top: 750px;
}

.fivehundredfour {
    background-image: url("../img/504.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 764px;
    width: 972px;
    background-repeat: no-repeat;
}

.fivehundredfourcode {
    position: relative;
    top: 950px;
}

.fivehundredsix {
    background-image: url("../img/506.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 750px;
    width: 500px;
    background-repeat: no-repeat;
}

.fivehundredsixcode {
    position: relative;
    top: 950px;
}

.fivehundredseven {
    background-image: url("../img/507.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 437px;
    width: 640px;
    background-repeat: no-repeat;
}

.fivehundredsevencode {
    position: relative;
    top: 800px;
}

.fivehundredeight {
    background-image: url("../img/508.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 628px;
    width: 628px;
    background-repeat: no-repeat;
}

.fivehundredeightcode {
    position: relative;
    top: 900px;
}

.fivehundrednine {
    background-image: url("../img/509.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 651px;
    width: 1024px;
    background-repeat: no-repeat;
}

.fivehundredninecode {
    position: relative;
    top: 900px;
}

.fivehundredeleven {
    background-image: url("../img/511.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 639px;
    width: 1134px;
    background-repeat: no-repeat;
}

.fivehundredelevencode {
    position: relative;
    top: 900px;
}

.fivehundredninetynine {
    background-image: url("../img/599.jpg");
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid white;
    height: 373px;
    width: 500px;
    background-repeat: no-repeat;
}

.fivehundredninetyninecode {
    position: relative;
    top: 750px;
}

.imgcode {
    color: black;
    font-size: 20px;
}
.codedescription {
    color: black;
    font-size: 20px;
}