body {
    background-color: black;
    color: white;
}
.top-buffer {
    margin-top: 10px;
}

.col-lg-2 {
    height: 100px;
}

.image:hover {
    position: relative;
    top: -5px;
}

.text {
    position: absolute;
    top: 50%;
    left: 5%;
    color: beige;
    font-size: 20px;
}

#onehundred {
    background-image: url("../img/100.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#onehundredtwo {
    background-image: url("../img/101.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#twohundred {
    background-image: url("../img/200.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#twohundredone {
    background-image: url("../img/201.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#twohundredtwo {
    background-image: url("../img/202.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#twohundredfour {
    background-image: url("../img/204.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#twohundredsix {
    background-image: url("../img/206.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#twohundredseven {
    background-image: url("../img/207.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#threehundred {
    background-image: url("../img/300.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#threehundredone {
    background-image: url("../img/301.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#threehundredtwo {
    background-image: url("../img/302.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#threehundredthree {
    background-image: url("../img/303.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#threehundredfour {
    background-image: url("../img/304.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#threehundredfive {
    background-image: url("../img/305.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#threehundredseven {
    background-image: url("../img/307.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#fourhundred {
    background-image: url("../img/400.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#fourhundredone {
    background-image: url("../img/401.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#fourhundredtwo {
    background-image: url("../img/402.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#fourhundredthree {
    background-image: url("../img/403.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#fourhundredfour {
    background-image: url("../img/404.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#fourhundredfive {
    background-image: url("../img/405.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#fourhundredsix {
    background-image: url("../img/406.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#fourhundredeight {
    background-image: url("../img/408.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#fourhundrednine {
    background-image: url("../img/409.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#fourhundredten {
    background-image: url("../img/410.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#fourhundredeleven {
    background-image: url("../img/411.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#fourhundredtwelve {
    background-image: url("../img/412.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#fourhundredthirteen {
    background-image: url("../img/413.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#fourhundredfourteen {
    background-image: url("../img/414.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#fourhundredfifteen {
    background-image: url("../img/415.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#fourhundredsixteen {
    background-image: url("../img/416.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#fourhundredseventeen {
    background-image: url("../img/417.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#fourhundredeighteen {
    background-image: url("../img/418.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#fourhundredtwenty {
    background-image: url("../img/420.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#fourhundredtwentyone {
    background-image: url("../img/421.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#fourhundredtwentytwo {
    background-image: url("../img/422.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#fourhundredtwentythree {
    background-image: url("../img/423.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#fourhundredtwentyfour {
    background-image: url("../img/424.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#fourhundredtwentyfive {
    background-image: url("../img/425.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#fourhundredtwentysix {
    background-image: url("../img/426.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#fourhundredtwentynine {
    background-image: url("../img/429.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#fourhundredthirtyone {
    background-image: url("../img/431.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}

#fourhundredfourtyfour {
    background-image: url("../img/444.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#fourhundredfifty {
    background-image: url("../img/450.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#fourhundredfiftyone {
     background-image: url("../img/451.jpg");
     background-size: cover;
     background-repeat: no-repeat;
}

#fivehundred {
    background-image: url("../img/500.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#fivehundredtwo {
    background-image: url("../img/502.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#fivehundredthree {
    background-image: url("../img/503.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#fivehundredfour {
    background-image: url("../img/504.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#fivehundredsix {
    background-image: url("../img/506.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#fivehundredseven {
    background-image: url("../img/507.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#fivehundredeight {
    background-image: url("../img/508.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#fivehundrednine {
    background-image: url("../img/509.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#fivehundredeleven {
    background-image: url("../img/511.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#fivehundredninetynine {
    background-image: url("../img/599.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
