html,
body {
    background-color: black;
    height: 100%;
}

.flex-container {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.flex-item:first-child {
    border-radius: 10px;
    border: 2px solid white;
}

 .flex-item:nth-child(2) {
    color: white;
    margin-top: 1.5em;
 }

 .flex-item:nth-child(3) {
    color: white;
 }

 .flex-item:last-child{
     color: white;
 }

