{% extends "codebase.html" %}
{% block body %}

    
        <div class="flex-container">
            <div class="flex-item">
                <img src="static/img/101.jpg">
            </div>

            <div class="flex-item">
                <span>101</span>
                
            </div>

            <div class="flex-item">
                
                <span>Switching protocols</span>
            </div>

            <div class="flex-item">
                
                <span>Photo credit: Per Harald Olsen</span>
            </div>
        </div>
{% endblock %}