{% extends "codebase.html" %}
{% block body %}

    
<div class="flex-container">
            <div class="flex-item">
                <img src="static/img/300.jpg">
            </div>

            <div class="flex-item">
                <span>300</span>
                
            </div>

            <div class="flex-item">
                
                <span>Multiple choices</span>
            </div>

            <div class="flex-item">
                
                <span>Photo credit to <a href="https://www.flickr.com/photos/glamhag/2576727342">Glamhag</a></span>
            </div>
        </div>
{% endblock %}