{% extends "codebase.html" %}
{% block body %}

    

    <div class="flex-container">
        <div class="flex-item">
            <img src="static/img/303.jpg">
        </div>

        <div class="flex-item">
            <span>303</span>
            
        </div>

        <div class="flex-item">
            
            <span>See other</span>
        </div>

        <div class="flex-item">
            
            <span>Photo credit: <a href="https://www.flickr.com/photos/oxtopus/3477072593/">Austin Marshall</a></span>
        </div>
    </div>

{% endblock %}