{% extends "codebase.html" %}
{% block body %}

    
<div class="flex-container">
            <div class="flex-item">
                <img src="static/img/404.jpg">
            </div>

            <div class="flex-item">
                <span>404</span>
                
            </div>

            <div class="flex-item">
                
                <span>Not found</span>
            </div>

            <div class="flex-item">
                
                <span>Photo credit: <a href="https://commons.wikimedia.org/wiki/File:Head_in_the_sand.JPG">Korall</a></span>
            </div>
        </div>

{% endblock %}