{% extends "codebase.html" %}
{% block body %}

    
<div class="flex-container">
            <div class="flex-item">
                <img src="static/img/410.jpg">
            </div>

            <div class="flex-item">
                <span>410</span>
                
            </div>

            <div class="flex-item">
                
                <span>Gone</span>
            </div>

            <div class="flex-item">
                
                <span>Photo credit: <a href="https://commons.wikimedia.org/wiki/File:Apus_apus_flock_flying.jpg">Keta</a></span>
            </div>
        </div>
{% endblock %}