{% extends "codebase.html" %}

{% block body %}
        <div class="fourhundredtwelve">
            
        </div>

        <div class="fourhundredtwelvecode text-center">
            <span class="imgcode">412</span>
            <span class="codedescription">Precondition failed</span>
            <span class="photocredit">Photo credit: <a href="https://commons.wikimedia.org/wiki/File:Crested_Pigeon_(Ocyphaps_lophotes)_mating_display.jpg">Lip Kee Yap</a></span>
            
        </div>
{% endblock %}