{% extends "codebase.html" %}
{% block body %}

    
<div class="flex-container">
            <div class="flex-item">
                <img src="static/img/412.jpg">
            </div>

            <div class="flex-item">
                <span>412</span>
                
            </div>

            <div class="flex-item">
                
                <span>Precondition failed</span>
            </div>

            <div class="flex-item">
                
                <span>Photo credit: <a href="https://commons.wikimedia.org/wiki/File:Crested_Pigeon_(Ocyphaps_lophotes)_mating_display.jpg">Lip Kee Yap</a></span>
            </div>
        </div>
{% endblock %}