{% extends "codebase.html" %}
{% block body %}

    
<div class="flex-container">
            <div class="flex-item">
                <img src="static/img/418.jpg">
            </div>

            <div class="flex-item">
                <span>418</span>
                
            </div>

            <div class="flex-item">
                
                <span>I'm a teapot</span>
            </div>

            <div class="flex-item">
                
                <span>Photo credit: <a href="http://imgur.com/gallery/1ZooN">imemmental</a></span>
            </div>
        </div>
{% endblock %}