{% extends "codebase.html" %}
{% block body %}
    
<div class="flex-container">
            <div class="flex-item">
                <img src="static/img/429.jpg">
            </div>

            <div class="flex-item">
                <span>429</span>
                
            </div>

            <div class="flex-item">
                
                <span>Too many requests</span>
            </div>

            <div class="flex-item">
                
                <span>Photo credit: <a href="https://commons.wikimedia.org/wiki/File:Rock_pigeon_eating_swarm.jpg">Rootology</a></span>
            </div>
        </div>


{% endblock %}