{% extends "codebase.html" %}
{% block body %}

    
<div class="flex-container">
            <div class="flex-item">
                <img src="static/img/444.jpg">
            </div>

            <div class="flex-item">
                <span>444</span>
                
            </div>

            <div class="flex-item">
                
                <span>No response</span>
            </div>

            <div class="flex-item">
                
                <span>Photo credit: <a href="http://www.eveandersson.com/photo-display/large/antarctica/petermann-island-baby-gentoo-penguins-sleeping.html">Eve Andersson</a></span>
            </div>
        </div>


{% endblock %}