{% extends "codebase.html" %}

{% block body %}
        <div class="fivehundred">
            
        </div>

        <div class="fivehundredcode text-center">
            <span class="imgcode">500</span>
            <span class="codedescription">Internal server error</span>
            <span class="photocredit">Photo credit: <a href="https://twitter.com/dtp_peijimono/status/445106340768120832/photo/1?ref_src=twsrc%5Etfw&ref_url=http%3A%2F%2Fen.rocketnews24.com%2F2014%2F03%2F21%2Fcomputer-equipment-the-new-way-to-keep-your-pet-birds-warm-and-happy%2F">dtp_peijimono</a></span>
        </div>
{% endblock %}