{% extends "codebase.html" %}
{% block body %}

    
<div class="flex-container">
            <div class="flex-item">
                <img src="static/img/500.jpg">
            </div>

            <div class="flex-item">
                <span>500</span>
                
            </div>

            <div class="flex-item">
                
                <span>Internal server error</span>
            </div>

            <div class="flex-item">
                
                <span>Photo credit: <a href="https://twitter.com/dtp_peijimono/status/445106340768120832/photo/1?ref_src=twsrc%5Etfw&ref_url=http%3A%2F%2Fen.rocketnews24.com%2F2014%2F03%2F21%2Fcomputer-equipment-the-new-way-to-keep-your-pet-birds-warm-and-happy%2F">dtp_peijimono</a></span>
            </div>
        </div>

{% endblock %}