{% extends "codebase.html" %}
{% block body %}

    
<div class="flex-container">
            <div class="flex-item">
                <img src="static/img/509.jpg">
            </div>

            <div class="flex-item">
                <span>509</span>
                
            </div>

            <div class="flex-item">
                
                <span>Bandwidth limit exceeded</span>
            </div>

            <div class="flex-item">
                
                <span>Photo credit: <a href="https://www.reddit.com/r/Birbs/comments/32bclh/birbs/">Kiloueka on Reddit</a></span>
            </div>
        </div>

{% endblock %}