{% extends "codebase.html" %}

{% block body %}
        <div class="fivehundredeleven">
            
        </div>

        <div class="fivehundredelevencode text-center">
            <span class="imgcode">511</span>
            <span class="codedescription">Network authentication required</span>
            <span class="photocredit">Photo credit: <a href="https://twitter.com/molzo6/status/849365987753414656/photo/1?ref_src=twsrc%5Etfw&ref_url=http%3A%2F%2Fwww.countryliving.com%2Flife%2Fkids-pets%2Fa42548%2Fbird-photo-security-camera%2F">Molzo6 on Twitter</a></span>
        </div>
{% endblock %}