{% extends "codebase.html" %}
{% block body %}

    
<div class="flex-container">
            <div class="flex-item">
                <img src="static/img/511.jpg">
            </div>

            <div class="flex-item">
                <span>511</span>
                
            </div>

            <div class="flex-item">
                
                <span>Network authentication required</span>
            </div>

            <div class="flex-item">
                
                <span>Photo credit: <a href="https://twitter.com/molzo6/status/849365987753414656/photo/1?ref_src=twsrc%5Etfw&ref_url=http%3A%2F%2Fwww.countryliving.com%2Flife%2Fkids-pets%2Fa42548%2Fbird-photo-security-camera%2F">Molzo6 on Twitter</a></span>
            </div>
        </div>


{% endblock %}