{% extends "codebase.html" %}

{% block body %}
        <div class="fivehundredninetynine">
            
        </div>

        <div class="fivehundredninetyninecode text-center">
            <span class="imgcode">599</span>
            <span class="codedescription">Network connect timeout error</span>
            <span class="photocredit">Photo credit: <a href="https://www.reddit.com/r/funny/comments/1uobne/misunderstood_bird_helps_his_owner_clean_his/">Pebis on Reddit</a></span>
        </div>
{% endblock %}