{% extends "codebase.html" %}
{% block body %}

    
<div class="flex-container">
            <div class="flex-item">
                <img src="static/img/599.jpg">
            </div>

            <div class="flex-item">
                <span>599</span>
                
            </div>

            <div class="flex-item">
                
                <span>Network connect timeout error</span>
            </div>

            <div class="flex-item">
                
                <span>Photo credit: <a href="https://www.reddit.com/r/funny/comments/1uobne/misunderstood_bird_helps_his_owner_clean_his/">Pebis on Reddit</a></span>
            </div>
        </div>


{% endblock %}